# Environment & Sensitive Files
.env
application-local.properties

# Build & Dependency
target/
frontend/dist/
frontend/*.tsbuildinfo
*.class
*.jar
*.war
*.ear

# IDE & OS
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Maven Wrapper
!mvnw
!mvnw.cmd
!.mvn/
